<div fxLayout="column" style="margin-top: 2%;" fxLayoutGap="2%">
    <div fxLayoutAlign="end center" fxLayoutGap="2%">
        <div>
            <button mat-flat-button style="background-color: rgb(34, 84, 34); color: aliceblue; border-radius: 15px;">Edit</button>
        </div>
        <div>
            <button mat-flat-button style="background-color: rgb(34, 84, 34); color: aliceblue; border-radius: 15px;">Save Changes</button>
        </div>
    </div>
    <div fxLayout="row">
        <div fxLayout="column" fxFlex="20">
            <div fxLayoutAlign="center center" class="leftbox" style="width: 100%;">
                <span style="font-size: 18px; margin-left: 2%;">Depreciation Start Date</span>
            </div>
            <div fxLayoutAlign="center center" class="rightbox" style="width: 100%;">
                <span style="font-size: 18px; margin-left: 2%;"> </span>
            </div>
        </div>
        <div fxLayout="column" fxFlex="20">
            <div fxLayoutAlign="center center" class="leftbox" style="width: 100%;">
                <span style="font-size: 18px; margin-left: 2%;">Depreciable Cost</span>
            </div>
            <div fxLayoutAlign="center center" class="rightbox" style="width: 100%;">
                <span style="font-size: 18px; margin-left: 2%;"> </span>
            </div>
        </div>
        <div fxLayout="column" fxFlex="20">
            <div fxLayoutAlign="center center" class="leftbox" style="width: 100%;">
                <span style="font-size: 18px; margin-left: 2%;">Salvage Cost</span>
            </div>
            <div fxLayoutAlign="center center" class="rightbox" style="width: 100%;">
                <span style="font-size: 18px; margin-left: 2%;"> </span>
            </div>
        </div>
        <div fxLayout="column" fxFlex="20">
            <div fxLayoutAlign="center center" class="leftbox" style="width: 100%;">
                <span style="font-size: 18px; margin-left: 2%;">Asset Life</span>
            </div>
            <div fxLayoutAlign="center center" class="rightbox" style="width: 100%;">
                <span style="font-size: 18px; margin-left: 2%;"> </span>
            </div>
        </div>
        <div fxLayout="column" fxFlex="20">
            <div fxLayoutAlign="center center" class="leftbox" style="width: 100%;">
                <span style="font-size: 18px; margin-left: 2%;">Depreciation Method</span>
            </div>
            <div fxLayoutAlign="center center" class="rightbox" style="width: 100%;">
                <span style="font-size: 18px; margin-left: 2%;"> </span>
            </div>
        </div>
    </div>
    <div>
        <div id="asset" style="width: 100%; height: 300px"></div>
    </div>
</div>