.graph{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.card{
    border: 1px solid rgb(48, 112, 57)
}

.plot{
    color: rgb(48, 112, 57);
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

mat-radio-button{
    margin-top: 1%;
}