<div fxLayout="column">
    <div style="margin-top: 1%;">
        <span style="font-size: 20px; color:rgb(38, 105, 40); font-weight: 500;">Allocation Information</span>
    </div>
    <hr>
    <div fxLayout="column">
        <div fxLayout="row">
            <div fxLayoutAlign="start center" class="leftbox">
                <span style="font-size: 18px; margin-left: 2%;">Building</span>
            </div>
            <div fxLayoutAlign="start center" class="rightbox">
                <span style="font-size: 18px; margin-left: 2%;"> </span>
            </div>
        </div>
        <div fxLayout="row">
            <div fxLayoutAlign="start center" class="leftbox">
                <span style="font-size: 18px; margin-left: 2%;">Department</span>
            </div>
            <div fxLayoutAlign="start center" class="rightbox">
                <span style="font-size: 18px; margin-left: 2%;"> </span>
            </div>
        </div>
        <div fxLayout="row">
            <div fxLayoutAlign="start center" class="leftbox">
                <span style="font-size: 18px; margin-left: 2%;">Location</span>
            </div>
            <div fxLayoutAlign="start center" class="rightbox">
                <span style="font-size: 18px; margin-left: 2%;"> </span>
            </div>
        </div>
        <div fxLayout="row">
            <div fxLayoutAlign="start center" class="leftbox">
                <span style="font-size: 18px; margin-left: 2%;">Person</span>
            </div>
            <div fxLayoutAlign="start center" class="rightbox">
                <span style="font-size: 18px; margin-left: 2%;"> </span>
            </div>
        </div>
    </div>
    

</div>