hr{
    // margin-top: 1%;
    // margin-left: 1%;
    // margin-right: 1%;
    // color: green;
    height: 1px;
    background-color: green;
    // border-color: green;
    width: 100%;
}

.leftbox{
    width: 50%;
    height: 50px; 
    background-color: rgb(183, 182, 182); 
    border: 1px solid rgb(81, 81, 81);
}

.rightbox{
    width: 50%;
    height: 50px; 
    border: 1px solid rgb(81, 81, 81);
}