.middle{
    width: auto;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.middle2{
    margin-bottom: 1%;
}

table {
    width: 100%;
}

.plot{
    color: rgb(48, 112, 57);
    font-size: 22px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}