<div fxLayout="column">
    <div>
        <span class="asset">Warrenty Information</span>
    </div>
    <div>
        <mat-divider></mat-divider>
    </div>
    <div>
        <div fxLayout="column">
            <div fxLayout="row">
                <div style="width: 50%;">
                    <div fxLayout="row">
                        <div class="middle1" fxLayoutAlign="start center" style="width: 30%;">
                            <span class="gap" style="font-size: 20px;">Warrenty Due Date</span>
                        </div>
                        <div class="middle2" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline">
                                <mat-label>Choose a warrenty due Date</mat-label>
                                <input width="100%" matInput name="warrentyduedate" ngModel #wddate="ngModel" type="date" placeholder="Enter name" required>
                                <!-- <mat-error *ngIf="wddate.invalid">Select warrenty due Date</mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>
            
                    <div fxLayout="row">
                        <div class="middle1" fxLayoutAlign="start center" style="width: 30%;">
                            <span class="gap" style="font-size: 20px;">Expiry Reminder</span>
                        </div>
                        <div class="middle2">
                            <mat-form-field appearance="outline">
                                <input matInput name="expiryreminder" ngModel #ereminder="ngModel" type="text" placeholder="Days in Advance" required>
                                <mat-error *ngIf="ereminder.invalid">Enter expiry reminder</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div style="width: 50%;">
                    <div fxLayout="row">
                        <div class="middle1" fxLayoutAlign="start center" style="width: 30%;">
                            <span class="gap" style="font-size: 20px;">Notify To</span>
                        </div>
                        <div class="middle2">
                            <mat-form-field appearance="outline">
                                <input matInput name="wnotifyto" ngModel #notifyto="ngModel" type="email" placeholder="Enter Email Id" required>
                                <mat-error *ngIf="notifyto.invalid">Enter Email Id</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayoutAlign="end center">
                        <button mat-flat-button>
                            <mat-icon>add</mat-icon>&nbsp;
                            <span>Upload Warrenty Document</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>