<div style="margin-top: 40px;" fxLayout="column" fxLayoutGap="6%">
    <div style="height: 300px; border: 1px solid rgb(81, 81, 81);" fxLayout="column">
        <div style="margin-top: 1%; margin-left: 1%">
            <span style="font-size: 20px; color:rgb(46, 95, 46); font-weight: 500;">Asset Image</span>
        </div>
        <div>
            
        </div>
        <!-- <span style="font-size: 18px; margin-left: 2%;">Asset Name</span> -->
    </div>
    <div>
        <button mat-flat-button style="background-color: rgb(39, 94, 39); width: 100%; font-size: 18px; color: aliceblue;">Active</button>
    </div>
    <div fxLayout="column" fxLayoutGap="3%">
        <div fxLayout="row" fxLayoutGap="2%">
            <div style="width: 50%;">
                <button mat-flat-button style="background-color: rgb(39, 94, 39); width: 100%; font-size: 16px; color: aliceblue; border-radius: 10px;">Change Status</button>
            </div>
            <div style="width: 50%;">
                <button mat-flat-button style="background-color: rgb(39, 94, 39); width: 100%; font-size: 16px; color: aliceblue; border-radius: 10px;">Delete Asset</button>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="2%">
            <div style="width: 50%;">
                <button mat-flat-button style="background-color: rgb(39, 94, 39); width: 100%; font-size: 16px; color: aliceblue; border-radius: 10px;">Edit Asset</button>
            </div>
            <div style="width: 50%;">
                <button mat-flat-button style="background-color: rgb(39, 94, 39); width: 100%; font-size: 16px; color: aliceblue; border-radius: 10px;">save Changes</button>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="2%">
        <div fxLayout="row" fxLayoutGap="2%">
            <div style="width: 80%;">
                <button mat-flat-button style="width: 100%; font-size: 16px; color: rgb(51, 113, 76); border-radius: 5px; border: 1px solid rgb(81, 81, 81); ">View PO</button>
            </div>
            <div>
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div>
                <button mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="2%">
            <div style="width: 80%;">
                <button mat-flat-button style="width: 100%; font-size: 16px; color: rgb(51, 113, 76); border-radius: 5px; border: 1px solid rgb(81, 81, 81); ">View Invoice</button>
            </div>
            <div>
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div>
                <button mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="2%">
            <div style="width: 80%;">
                <button mat-flat-button style="width: 100%; font-size: 16px; color: rgb(51, 113, 76); border-radius: 5px; border: 1px solid rgb(81, 81, 81); ">View Warrent</button>
            </div>
            <div>
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div>
                <button mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>