<div fxLayout="column">
    <div style="margin-top: 1%;">
        <span style="font-size: 20px; color:rgb(38, 105, 40); font-weight: 500;">Asset Information</span>
    </div>
    <hr>
    <div fxLayout="column">
        <div fxLayout="row">
            <div fxLayoutAlign="start center" class="leftbox">
                <span style="font-size: 18px; margin-left: 2%;">Asset Name</span>
            </div>
            <div fxLayoutAlign="start center" class="rightbox">
                <span style="font-size: 18px; margin-left: 2%;"> </span>
            </div>
        </div>
        <div fxLayout="row">
            <div fxLayoutAlign="start center" class="leftbox">
                <span style="font-size: 18px; margin-left: 2%;">Asset Type</span>
            </div>
            <div fxLayoutAlign="start center" class="rightbox">
                <span style="font-size: 18px; margin-left: 2%;"> </span>
            </div>
        </div>
        <div fxLayout="row">
            <div fxLayoutAlign="start center" class="leftbox">
                <span style="font-size: 18px; margin-left: 2%;">Serial Number</span>
            </div>
            <div fxLayoutAlign="start center" class="rightbox">
                <span style="font-size: 18px; margin-left: 2%;"> </span>
            </div>
        </div>
        <div fxLayout="row">
            <div fxLayoutAlign="start center" class="leftbox">
                <span style="font-size: 18px; margin-left: 2%;">Purchase Date</span>
            </div>
            <div fxLayoutAlign="start center" class="rightbox">
                <span style="font-size: 18px; margin-left: 2%;"> </span>
            </div>
        </div>
        <div fxLayout="row">
            <div fxLayoutAlign="start center" class="leftbox">
                <span style="font-size: 18px; margin-left: 2%;">Brand</span>
            </div>
            <div fxLayoutAlign="start center" class="rightbox">
                <span style="font-size: 18px; margin-left: 2%;"> </span>
            </div>
        </div>
        <div fxLayout="row">
            <div fxLayoutAlign="start center" class="leftbox">
                <span style="font-size: 18px; margin-left: 2%;">Model</span>
            </div>
            <div fxLayoutAlign="start center" class="rightbox">
                <span style="font-size: 18px; margin-left: 2%;"> </span>
            </div>
        </div>
        <div fxLayout="row">
            <div fxLayoutAlign="start center" class="leftbox">
                <span style="font-size: 18px; margin-left: 2%;">Warrenty Till</span>
            </div>
            <div fxLayoutAlign="start center" class="rightbox">
                <span style="font-size: 18px; margin-left: 2%x;"> </span>
            </div>
        </div>
    </div>
    
    

</div>