<div style="margin-top: 1%; margin-left: 1%">
    <span style="font-size: 20px; color:rgb(79, 78, 78)">Dashboard</span>
</div>
<div fxLayout="column" class="content">
    <div fxLayout="row" fxLayoutGap="1%">
        <div class="assets">
            <mat-card style="background-color: rgb(116, 140, 219);">
                <div fxLayout="column" fxLayoutGap="3%">
                    <div fxLayoutAlign="end center">
                        <span style="font-size: 16px; color:rgb(255, 255, 255)">Number of Assets</span>
                    </div>
                    <div fxLayoutAlign="center center">
                        <span style="font-size: 32px; color:rgb(255, 255, 255)">{{numberofassets}}</span>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="assets">
            <mat-card style="background-color: rgb(181, 109, 244);">
                <div fxLayout="column" fxLayoutGap="3%">
                    <div fxLayoutAlign="end center">
                        <span style="font-size: 16px; color:rgb(255, 255, 255)">Net Assets Value</span>
                    </div>
                    <div fxLayoutAlign="center center">
                        <span style="font-size: 32px; color:rgb(255, 255, 255)">{{netassetvalue}}</span>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="assets">
            <mat-card style="background-color: rgb(215, 89, 89);">
                <div fxLayout="column" fxLayoutGap="3%">
                    <div fxLayoutAlign="end center">
                        <span style="font-size: 16px; color:rgb(255, 255, 255)">Alerts</span>
                    </div>
                    <div fxLayoutAlign="center center">
                        <span style="font-size: 32px; color:rgb(255, 255, 255)">10</span>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>