.buttondiv{
    height: 10%;  
    margin-top: 1%;
}

.but{
    width: 100%; 
    height: 100%;
}

.content{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.assets{
    width: 33%;
}