<div fxLayout="column" fxLayoutGap="4%">
    <div class="assets">
        <mat-card style="background-color: rgb(116, 140, 219); height: 187px">
            <div fxLayout="column" fxLayoutGap="3%">
                <div fxLayoutAlign="end center">
                    <span style="font-size: 16px; color:rgb(255, 255, 255)">Number of Assets</span>
                </div>
                <div fxLayoutAlign="center center" style="height: 150px">
                    <span style="font-size: 42px; color:rgb(255, 255, 255)">{{numberofassets}}</span>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="assets">
        <mat-card style="background-color: rgb(181, 109, 244); height: 187px;">
            <div fxLayout="column" fxLayoutGap="3%">
                <div fxLayoutAlign="end center">
                    <span style="font-size: 16px; color:rgb(255, 255, 255)">Net Assets Value</span>
                </div>
                <div fxLayoutAlign="center center" style="height: 150px">
                    <span style="font-size: 42px; color:rgb(255, 255, 255)">{{netassetvalue}}</span>
                </div>
            </div>
        </mat-card>
    </div>
</div>